# ANOVA (ANalysis Of VAriance)
ANOVA is used to compare differences of means among more than 2 groups. It does this by looking at variation in the data and where that variation is found (hence its name). Specifically, ANOVA compares the amount of variation between groups with the amount of variation within groups.
- Null hypothesis, typically is that, all means are equal.
- The independent variables are categorical.
- Dependent variables are continues.

### F Value
F = Sample means of between groups/sample means of within groups

Example
- We are trying to predict the product sales based on its promotion, where low (radio,newspaper), middle(billboards in public places) and high level(TV ads) promotions are categorical in nature.

### Hypothesis construction
ANOVA Hypothesis - The null hypothesis for ANOVA says that, average of dependent variable are same for all the given groups.   
Alternate Hypothesis says, mean of dependent variable are not same for the given groups. 

-Ho : muA = muB = muC                                                                                                           
-Ha : not all are equal

Marks obtained from the 3 students from different schools given below.

  Does the data suggest any association between schools and marks?

In [1]:
#Example
import pandas as pd
marks = {'A':[82,83,97],'B':[83,78,68],'C':[38,59,55]}
df = pd.DataFrame(marks,index=['St1 Maths','St2 Maths','St3 Maths'])
df

            A   B   C
St1 Maths  82  83  38
St2 Maths  83  78  59
St3 Maths  97  68  55

In [ ]:
#Step 1 Calculate the means of each school
#Step 2 Calculate the grand mean
#Step 3 Variations between,within 
#Step 4 Calculate the mean squared variance of between and within
#Step 5 Calcualte F statistics and corrosponding p-value

In [2]:
import pandas as pd
hyp = pd.read_csv('Hypothesis ttest.csv')
hyp.head()

    ID  Gender  Race  SEB  School  Prog  Read  Write  Math1  Math2  SST
0   70       0     4    1       1     1    57     52     41     47   57
1  121       1     4    2       1     3    68     59     53     63   61
2   86       0     4    3       1     1    44     33     54     58   31
3  141       0     4    3       1     3    63     44     47     53   56
4  172       0     4    2       1     2    47     52     57     53   61

As per ANOVA we need to find continues data based on the categorical variable.
- Math1 is continues variable and 
- Program is categorical variable.

In [3]:
import statsmodels.formula.api as sm

mod=sm.ols('Math1~Prog',data=hyp).fit()

mod

In [4]:
import statsmodels.api as k

aov_table=k.stats.anova_lm(mod)
aov_table

             df        sum_sq     mean_sq         F    PR(>F)
Prog        1.0    393.527279  393.527279  4.564033  0.033878
Residual  198.0  17072.267721   86.223574       NaN       NaN